.card {
    width: 100%;
    max-width: 520px;
    padding: 3rem;
    border-radius: 20px;
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.profileImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}
.profileName {
    font-size: 2rem;
}
.location {
    color: hsl(75, 94%, 57%);
    font-size: 1.2rem;
    font-weight: 600;
}
.carrer {
    margin: 1.5rem 0 1rem;
    font-size: 1.1rem;
}
.buttonContainer {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    width: 100%;
}
.button {
    width: 100%;
    padding: 1rem;
    font-size: 1.3rem;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}